@media print {
  td {
    height: 5.4cm;
    padding: 0.5cm;
    text-align: center;
    vertical-align: middle;
    overflow-wrap: break-word;
    border: 2px solid #000;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }

  .page {
    break-after: page;
  }
}
