@media print{
    table{
        width: 98%;
        border-collapse: collapse;
        table-layout: auto;
    }
    td{
        border: 2px solid #000000;
        max-height: 24vh;
        word-wrap: break-word;
    }

    tr {
        text-align: center;
        break-inside: avoid;
    }
    tbody {
        break-after: page;
    }
}