img {
    margin-left: 1vw;
    max-width: 45%;
    height: auto;
    display: inline-block;
}
#match_image {	
    float: right;
    margin:0
}
#text_block{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 105%;
}
.game{
    display: flex;
    flex-direction: row;
    border: 1px solid white;
    border-radius: 8px;
    padding: 20px;
}
#signal_text,#match_text{
    width: 50%;
}
h2 {
    margin-left: 1vw;
    max-width: 45%;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
p{
    margin-left: 1vw;
}
h4 {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    margin-left: 1vw;
    padding: 0;
    max-width: 100%;
    text-align: left; 
}

body{
    overflow-x: hidden;
}
#buttons{
    text-align: center;
}
#match_text{
    margin-top:8px;
    float: right;
}
