#github_link{
	margin-left: 1vw;
	color:rgb(0, 102, 255);
}
#call_to_action{
    text-align: center;
    margin-top: 3vh;
    margin-left:1vw;
}
#call_to_action p{
    text-wrap: balance
}
.big_button{
	font-size: 20px;
	margin-left: 1vw;
	padding:30px;
	border-radius: 6px;	
}