img {
    max-width: 45%;
    height: auto;
    display: inline-block;
}
#match_image {
    float: right;
}
/* I HATE CSS BUT I DID IT :D*/

#text_block{
    display: flex;
    justify-content: space-between;
}
#signal_text,#match_text{
    width: 45%;
}
h2 {
    max-width: 45%;
    margin: 0;
    padding: 0;
}

h4 {
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: left; 
}
body{
    overflow-x: hidden;
}