body {
    overflow: hidden;
    border: none;
    margin: 0;
    padding: 0;
}
canvas{
    border: none;
}

#correct{
    position: absolute;

}
.flashcards {
    position: absolute;
    top: 225px;
    left: 524px;
    width: 911px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: auto; /* ensures buttons are clickable */
}